@page "/post/{slug}"


<div class="Post">
	@if (post is null)
	{
		<pre>
			"@Slug" is invalid name.
			<NavLink href="/">Return to Home</NavLink>
		</pre>
	}
	else
	{
		<div class="Header">
			<h1 style="margin: 15px;">@post.Title</h1>
			<p style="margin-left: 15px">@post.Time.ToString("yyyy-MM-dd HH:mm:ss")</p>
		</div>

		<div class="Content">
			@((MarkupString)post.HTMLContent)
		</div>
	}
</div>

@code
{
	[Parameter]
	public string Slug { get; set; } = string.Empty;

	private PostInfo? post;

	protected override void OnParametersSet()
	{
		post = repo.GetPost(Slug);
		base.OnParametersSet();
	}
}